<%= stylesheet_link_tag "registration" %>

<%= form_with model: @user, html: { class: 'form' } do |form| %>
    <h1> Registration page </h1>
    <label>
        <div> User name <div>
        <%= form.text_field :name, required: true %>
    </label>
    <%= form.email_field :email, required: true %>
    <%= form.password_field :password, required: true %>
    <%= form.submit "Registration" %>
<% end %>
    